[submodule "handlebars.js"]
	path = handlebars.js
	url = git@github.com:kahunacoder/handlebars.js.git
[submodule "hammer.js"]
	path = hammer.js
	url = git@github.com:kahunacoder/hammer.js.git
[submodule "webfontloader"]
	path = webfontloader
	url = git@github.com:kahunacoder/webfontloader.git
[submodule "history.js"]
	path = history.js
	url = git@github.com:kahunacoder/history.js.git
[submodule "underscore"]
	path = underscore
	url = git@github.com:kahunacoder/underscore.git
[submodule "html5-boilerplate"]
	path = html5-boilerplate
	url = git@github.com:kahunacoder/html5-boilerplate.git
[submodule "iscroll"]
	path = iscroll
	url = git@github.com:kahunacoder/iscroll.git
[submodule "lawnchair"]
	path = lawnchair
	url = git@github.com:kahunacoder/lawnchair.git
[submodule "mobile-boilerplate"]
	path = mobile-boilerplate
	url = git@github.com:kahunacoder/mobile-boilerplate.git
[submodule "fastclick"]
	path = fastclick
	url = git@github.com:kahunacoder/fastclick.git
[submodule "simplecart-js"]
	path = simplecart-js
	url = git@github.com:kahunacoder/simplecart-js.git
[submodule "Clamp.js"]
	path = Clamp.js
	url = git@github.com:kahunacoder/Clamp.js.git
[submodule "yui3"]
	path = yui3
	url = git@github.com:kahunacoder/yui3.git
[submodule "jquery"]
	path = jquery
	url = git@github.com:kahunacoder/jquery.git
[submodule "jquery-mobile"]
	path = jquery-mobile
	url = git@github.com:kahunacoder/jquery-mobile.git
[submodule "jquery-ui"]
	path = jquery-ui
	url = git@github.com:kahunacoder/jquery-ui.git
[submodule "jquery-validation"]
	path = jquery-validation
	url = git@github.com:kahunacoder/jquery-validation.git
[submodule "jqGrid"]
	path = jqGrid
	url = git@github.com:kahunacoder/jqGrid.git
