[submodule "handlebars.js"]
	path = handlebars.js
	url = git@github.com:kahunacoder/handlebars.js.git
[submodule "hammer.js"]
	path = hammer.js
	url = git@github.com:kahunacoder/hammer.js.git
[submodule "webfontloader"]
	path = webfontloader
	url = git@github.com:kahunacoder/webfontloader.git
[submodule "history.js"]
	path = history.js
	url = git@github.com:kahunacoder/history.js.git
[submodule "underscore"]
	path = underscore
	url = git@github.com:kahunacoder/underscore.git
[submodule "html5-boilerplate"]
	path = html5-boilerplate
	url = git@github.com:kahunacoder/html5-boilerplate.git
[submodule "iscroll"]
	path = iscroll
	url = git@github.com:kahunacoder/iscroll.git
